@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
  :root{
    --first-color: #CB91F2;
    --light-color: #F2F2F2;
    --dark-color: #261426;
    --aux1-color: #676273;
    --aux2-color: #DEF2C9;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    color: var(--first-color);
    box-sizing: border-box;
  }
  canvas {
    display: block;
    width: 100%;
    height: 100vh;
  }

  i:hover{
    color: #d6abf3;
  }

  .header{
    display: flex;

  }
  .header h1{
    flex: 1;
  }

  .flecha{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  a{
    text-decoration: none;
  }

  input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    height: 30px;
    border: none;
    background: transparent;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  input[type='range'] {
    -webkit-appearance: none;
    background-color: transparent;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #92856b;
    border-radius: 25px;
    background: #535353;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -5.5px;
    background: var(--first-color);
  }

  select{
    outline: 0;
    box-shadow: none;
    border: 0;
    background-color: #CB91F2;
    flex: 1;
    padding: 0 .5rem;
    color:#272727;
    cursor: pointer;
    display: flex;
    width: 80px;
    height: 20px;
    line-height: 3;
    overflow: hidden;
    border-radius: 25px;
  }
  option{
    color: #232323;
  }
  .angleMode{
    gap: 1rem;
    display: flex;
  }
  
  .menu{
    margin: 15px;
    padding: 20px;
    position: absolute;
    min-width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    transition:.5s all ease-in-out;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  input{
    margin-left: 10px;
  }

  .controls{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
  }

  .background-control{
    transition: .1s all ease-in-out;
  }
  .background-control:hover{
    transform: scale(1.05);
  }
  .background-header{
    display: flex;
    width: 100%;
  }

  .background-header label{
    flex: 1;
  }

  .background-header i{
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .background-content{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    display:none;
  }

  .background-content div{
    border-radius: 10px;
    background-color: #CB91F2;
    width: 3rem;
    height: 1.5rem;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border: none;
  }

  .background-content div:hover{
    transform: scale(1.05);
    border: #CB91F2 2px solid;
  }

  .background-content .light{
    background-color: var(--light-color);
  }

  .background-content .dark{
    background-color: var(--dark-color);
  }

  .background-content .aux1{
    background-color: var(--aux1-color);
  }

  .background-content .aux2{
    background-color: var(--aux2-color);
  }

  footer{
    position: absolute;
    padding: .5rem;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center;
  }